@import url(hero.css);

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* body{
    background-color: aqua;
}  */
 body{
    background: url("../images/zah1.jpg") no-repeat center center/cover;
    height: 100vh;
} 




.nav__part{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #3498DB;
    align-items: center;

}

.nav__part ul{
    display: flex;
 gap:3em;

}

.nav__part ul a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.nav__part ul li{
    list-style-type: none;
    
}

.nav__part ul a:hover{
    background-color: transparent;
    color: #000099;
    cursor: pointer;
}

